<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.yongin.transporthelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    -->

    <!-- 전화번호 얻기 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature"/>

    <!--PUSH-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="kr.or.yongin.transporthelp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kr.or.yongin.transporthelp.permission.C2D_MESSAGE" />


    <application
        android:name=".YINuriApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 접수 -->
        <activity
            android:name=".ProposeMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 위치검색 -->
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 로그인 -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 약관 -->
        <activity
            android:name=".ProvisionsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 약관보기 -->
        <activity
            android:name=".ProvisionViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 휴대폰 인증 -->
        <activity
            android:name=".CertificationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 휴대폰 인증 확인 -->
        <activity
            android:name=".CertificationConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 회원가입 -->
        <activity
            android:name=".RegistryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- Zip code finder -->
        <activity
            android:name=".ZipcodeFindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- Zip code finder WEB -->
        <activity
            android:name=".ZipcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- POI 검색 -->
        <activity
            android:name=".POISearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 즉시 호출 대기 -->
        <activity
            android:name=".OrderWaitActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 위치 확인 -->
        <activity
            android:name=".TraceMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 공지사항설정 -->
        <activity
            android:name=".NotiSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 콜 이력 -->
        <activity
            android:name=".CallHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 내정보 비밀번호 -->
        <activity
            android:name=".MyInfoIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 내 정보 -->
        <activity
            android:name=".MyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 공지사항 리스트 -->
        <activity
            android:name=".NoticeListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 공지사항 상세 -->
        <activity
            android:name=".NoticeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 사이드 정보 서브 내용 보기 -->
        <activity
            android:name=".InfoMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- 승차 메시지 -->
        <activity android:name=".GetONMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" />

        <!-- Main Service -->
        <service android:name=".MainServiceProcess">
            <intent-filter>
                <action android:name="kr.or.yongin.transporthelp.service.MAINSERVICEPROCESS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <!-- FCM Service -->
        <service android:name=".common.FCM.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".common.FCM.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
        <receiver android:name=".common.SMS.SMSBroadcastReceiver">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        SMS 리시버 -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>